body {
  width: 70% 
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: white;
 }
h1 {  text-align: center; color: #005A9C; background: white; font: 170% sans-serif }
h2 { color: #005A9C; font: 140% sans-serif }
h3 { color:#00008B; font: 120% sans-serif }
a { font-size: small }
